$font: 'Open Sans', sans-serif;
$b:700;
* {
    padding: 0;
    margin:0;
}
body{
	margin:0px;
	padding: 0px;
	overflow-x: hidden;
}
.content_title{
	text-align: center;
	.content_title_one{
		margin:50px 0px 36px;
		font-family: $font;
		font-weight: $b;
		font-size: 36px;
		color: #45852D;
	}
}
.content_body{
	width: 100%;
	max-width: 1180px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin:0 auto;
	a{
		text-decoration:none;
	}
}
.content_body_product{
	max-width: 377px;
	min-width:300px;
	height: auto;
	flex: 1;
	background-color: #F8F8F8;
	border: 1px solid #D8D8D8;
	margin:10.5px 10.5px;
}
@media (max-width: 769px){
	.content_body_product{
		min-width: 370px;
	}
}@media (max-width: 430px){
	.content_body_product{
		min-width: 300px;
		margin:10.5px 21px;
	}
}
.content_body_product_img{
	position: relative;
	min-width: 300px;
	img{
		width: 100%;
		max-width: 377px;
		height: auto;
	}
}
.content_body_product_img_text{
	position: absolute;
	top: -16px;
	right:0;
	background-color: #006F79;;
	padding:8px 11px 5px 10px;
	font-family: $font;
	font-size: 12px;
	font-weight: $b;
	color: #fff;
	p{
		margin:0px;
	}
}
@-moz-document url-prefix() { 
  .content_body_product_img_text{
    position: absolute;
	top: -16px;
	right:4px;
	background-color: #006F79;;
	padding:8px 11px 5px 10px;
	font-family: $font;
	font-size: 12px;
	font-weight: $b;
	color: #fff;
  }
}
.support{
	background-color: #EC6608;
}
.content_body_product_text{
	margin-left:20px;
	p{
		color: #363636;
		font-family: $font;
		font-size: 16px;
		margin:0px 0px 15px;
	}
	.content_body_product_text_small{
		font-size: 14px;
	}
}
.content_body_product_title{
	color: #363636;
	font-family: $font;
	font-weight: $b;
	font-size: 20px;
	margin:15px 0px 2px;
}
#more{
	display: none;
}
.btn_more{
	margin: 39.5px 0px;
	display: flex;
	align-items: center;
  	justify-content: center;
}
#btn_showMore{
	border: 1px solid #D8D8D8;
	background-color: #fff;
	padding:12px 33px;
	border-radius: 40px;
	font-family: $font;
	font-style: normal;
	font-weight: $b;
	outline: none;
	font-size: 16px;
	line-height: 24px;
}
.showMore_img{
	vertical-align: middle;
}

#loading{
	width: auto;
    display: none;
    border: 1px solid #D8D8D8;
	background-color: #fff;
	padding:12px 33px;
	border-radius: 40px;
	font-family: $font;
	font-style: normal;
	font-weight: $b;
	outline: none;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin:0 auto;
}